body{
    background-color: rgb(176, 168, 189);
    color: black;
}
.left{

    margin-left: 4%;
    color: white;
  
}
.right{
    margin-right: 3%;
}
* {
    margin: 0;
    padding: 0;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(95, 63, 70);
    height: 80px;
    position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; 
  }
  nav ul {
    display: flex;
    justify-content: center;
  }
  nav ul li {
    list-style: none;
    margin: 0 23px;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  nav ul li a:hover {
    font-size: 1.03rem;
    color: rgb(133, 203, 207);
  }
  .left {
    font-size: 2rem;
  }
  .picture{
    height: 100%;
    width: 100%;
    }
    .picture{
    background-size: cover;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-image: url(figmaPhotos/model2.jpg);
    }
    .text{
        position: absolute;
    top: 55%;
    left: 74%;
    transform: translate(-50%, -50%);
}
.letter1{
    font-size: 40px;
    font-family: 'Julee', cursive;
    color: rgb(5, 30, 59);
}
.letter2{
    font-family: 'Julius Sans One', sans-serif;
    color: rgb(5, 30, 59);
    font-size: 20px;
}
.letter3{
    font-family: 'Inter', sans-serif;
}
main hr {
    border: 0;
    background: #141339;
    height: 1.2px;
    margin: 40px 84px;
  }
  .set {
     
    position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 100px 50px;
      padding: 100px 50px;
  }
    
  .cont{
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    
    z-index:9999;
  }
  .w{
    margin: 5%;
    width: 40%;
    height: 40%;
  }
  .drum {
    outline: none;
    border: 10px solid #c5c8d0;
    color: #6c4a59;
    border-radius: 35px;
    display: flex; 
    width: 200px;
    height: 200px;
    text-align: center;
   margin: 10px 50px;
    background-color: white;
    box-shadow: 4px 5px;
    transition: 1000ms all;
    transform-origin:center left;
    overflow: hidden;
    outline: 1px solid var(--background);
    position: relative;
    align-items: flex-start;


  }

 .drum img{
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
 }
 .services{
  font-family: 'Edu TAS Beginner', cursive;
  font-size: larger;
  font-weight: lighter;
  color: #141339;
  text-align: center;
 }


/* Please â¤ this if you like it! */


/* ========================================= * 
		        BEST VIEWED FULLSCREEN
   https://codepen.io/ig_design/full/NWxwBvw
 * ========================================= */
 @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

 
 a {
   cursor: pointer;
 }
 a:hover {
   text-decoration: none;
 }
 
 .section{
   position: relative;
   width: 80%;
   display: block;
 }
 .full-height{
   min-height: 100vh;
 }
 .over-hide{
   overflow: hidden;
 }
 .padding-tb{
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-left: 40%;
 }
 [type="radio"]:checked,
 [type="radio"]:not(:checked){
   position: absolute;
   left: -9999px;
 }
 .checkbox:checked + label,
 .checkbox:not(:checked) + label{
   position: relative;
   cursor: pointer;
   margin: 0 auto;
   text-align: center;
   margin-right: 6px;
   margin-left: 6px;
   display: inline-block;
   width: 50px;
   height: 50px;
   border: 3px solid #bdc3c7;
   background-size: cover;
   background-position: center;
   box-sizing: border-box;
   -webkit-transition: all 0.2s ease;
   transition: all 0.2s ease;
   background-image: url('figmaPhotos/slider1.jpg');
   animation: border-transform 6s linear infinite alternate forwards;
     -webkit-animation-play-state: paused;
     -moz-animation-play-state: paused;
     animation-play-state: paused;
 }
 .checkbox.scnd + label{
   background-image: url('figmaPhotos/slider2.jpg');
 }
 .checkbox.thrd + label{
   background-image: url('figmaPhotos/slider3.jpg');
 }
 .checkbox.foth + label{
   background-image: url('figmaPhotos/slider4.jpg');
 }
 
 .checkbox:checked + label{
   box-shadow: 0 8px 25px 0 rgba(16,39,112,.3);
   transform: scale(1.3);
     -webkit-animation-play-state: running;
     -moz-animation-play-state: running;
     animation-play-state: running;
 }
 @keyframes border-transform{
   0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
 }
 
 .slider-height-padding {
   padding-top: 440px;
 }
 
.container ul {
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 100%;
   z-index: 100;
   padding: 0;
   margin: 0;
   list-style: none;
 }
 .container ul li {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   display: block;
   z-index: 100;
   padding: 0;
   margin: 0;
   list-style: none;
   height: 400px;
   border: 5px solid #bdc3c7;
   background-size: cover;
   background-position: center;
   background-image: url('figmaPhotos/slider1.jpg');
   border-radius: 50%;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   font-weight: 900;
   font-size: 16px;
   letter-spacing: 2px;
   line-height: 2.7;
   color: #343434;
   writing-mode: vertical-rl;
   opacity: 0;
   pointer-events: none;
   box-shadow: 0 8px 25px 0 rgba(16,39,112,.1);
   -webkit-transition: all 0.5s ease;
   transition: all 0.5s ease;
 }
 .container ul li span {
   mix-blend-mode: difference;
 }
 .container ul li:nth-child(2) {
   background-image: url('figmaPhotos/slider2.jpg');
 }
 .container ul li:nth-child(3) {
   background-image: url('figmaPhotos/slider3.jpg');
 }
 .container ul li:nth-child(4) {
   background-image: url('figmaPhotos/slider4.jpg');
 }
 
 
 .checkbox.frst:checked ~ ul li:nth-child(1) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
 }
 .checkbox.scnd:checked ~ ul li:nth-child(2) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
 }
 .checkbox.thrd:checked ~ ul li:nth-child(3) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
 }
 .checkbox.foth:checked ~ ul li:nth-child(4) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
 }
 

 
 
 @media (max-width: 767px) {
   .slider-height-padding {
     padding-top: 340px;
   }
 .container  ul li {
     height: 300px;
     font-size: 13px;
     letter-spacing: 1px;
   }
 }
 
 @media (max-width: 575px) {
   .slider-height-padding {
     padding-top: 240px;
   }
   .container ul li {
     height: 200px;
   }
 }
 .set .drum .content{
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
 }
 .set .drum:hover {
  height: 400px;
}

.set .drum .img-box {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80%;
  height: 80%;
  background: #eae6e6;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
  
}

.set .drum:hover .img-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.set .drum .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.set .drum .content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  background-color: lavender;
}

.set .drum:hover .content {
  top: 130px;
  height: 250px;
}

.set .drum .content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr);
}

.set .drum .content p {
  color: #333;
}

.set .drum .content a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: var(--clr);
  color: white;
  font-weight: 500;
}

.set .drum .content a:hover {
  opacity: 0.8;
  background-color: #000000;
  color: aqua;
}

@media (max-width: 480px) {
  .set .drum {
      width: 230px;
      border-radius: 15px;
  }

  .set .drum .img-box {
      width: 185px;
      border-radius: 10px;
  }

  .set .drum .content p {
      font-size: 0.8rem;
  }

  .set .drum .content a {
      font-size: 0.9rem;
  }
}
.left-photo img{
  float: left;
  height: 50%;
  width: 50%;
  border-radius: 110px;
  margin-left: 30%;
  border: 5px solid rgb(204, 179, 212);
  
}

.right-photo img{
  float: left;
  height: 50%;
  width: 50%;
  border-radius: 110px;
  margin-left: 10%;
  border: 5px solid rgb(204, 179, 212);
  
  
}
.left-img img{
  float: left;
  height: 15%;
  width: 17%;
  border-radius: 110px;
  margin-left: 20%;
  margin-bottom: 3%;
  border: 5px solid rgb(204, 179, 212);
}
.Aboutus-2{
  display: grid;
 align-items: center; 
 grid-template-columns: 4fr 4fr;
 column-gap: 5px;
}
.Aboutus-3{
  display: grid;
 align-items: center; 
 grid-template-columns: 4fr 4fr;
 column-gap: 5px;
}
.Aboutus-2 .right-content{
  font-size: larger;
  text-align: center;
  padding: 20%;
  margin-right: 8%;
}
.Aboutus-3 .left-content{
  font-size: larger;
  text-align: center;
  padding: 20%;
  margin-left: 8%;
}
.Aboutus-2 .right-content p{
  padding: 4%;
}
.Aboutus-3 .left-content p{
  padding: 4%;
}
.Aboutus{
  font-family: 'Edu TAS Beginner', cursive;
  font-size: larger;
  font-weight: lighter;
  color: #141339;
  text-align: center;
}
.Contactus{
  font-family: 'Edu TAS Beginner', cursive;
  font-size: larger;
  font-weight: lighter;
  color: #141339;
  text-align: center;
}
.button-product button{
  background: #141339;
  color: aliceblue;
  padding: 10px;
 border-radius: 20%;
 
  font-size: 20px;
}
.right-text{
  text-align: center;
margin-top: 3%;
 padding-top: 4%;
}
.right-text h2{
  padding: 8px;
  font-family: 'Edu TAS Beginner', cursive;
  font-weight: lighter;
}
.button-contact button{
  background: rgb(175, 149, 196);
  color: black;
  padding: 10px;
  border-radius: 15%;
font-size: 20px;
}
.right-text h3{
  padding: 8px;
  font-family: 'Edu TAS Beginner', cursive;
  font-weight: lighter;
  font-size: medium;
}
footer .footer-rights{
  text-align: center;
  color: gray;
  padding: 12px 0;
}
footer{
  margin-top: 5%;
  background-color: rgb(82, 64, 95)
}
.flex{
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
}
.flex ul{
  list-style: none;
}
.flex>div{
  width:223px
}
.Contactus-3{
margin-bottom: 4%;
}
.flex ul li{
  color: black;
}